<h1>registrar alumno</h1>

<form method="post">
    <label>nombre</label>
    <input type="text" name="nombre" class="form-control"/>
    <label>linkedin</label>
    <input type="text" name="linkedin" class="form-control" />
    <label>email</label>
    <input type="text" name="email" class="form-control" />
    <label>password</label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-info">crear</button>
</form>

<h1 style="color:blue" class="p-2 border">@ViewData["MENSAJE"]</h1>